.about-author__description {
    margin: 50px 0 0 54px;
}

@media screen and (max-width: 868px) {
    .about-author__description {
        margin: 0;
        margin-left: 32px;
    }
}

@media screen and (max-width: 610px) {
    .about-author__description {
        margin: 0;
        margin-top: 24px;

    }
}

@media screen and (max-width: 350px) {
    .about-author__description {
        max-width: 288px;
    }
}