.about-author__photo {
    border-radius: 1000px;
    width: 464px;
}

@media screen and (max-width: 868px) {
    .about-author__photo {
        width: 232px;
        height: 232px;
    }
}

@media screen and (max-width: 610px) {
    .about-author__photo {
        margin: 0  auto;
        width: 272px;
        height: 272px;
    }
}