@import url('./_separator/resume__links_separator.css');

.resume__links {
    margin: 0 auto;
    display: flex;
    justify-content: flex-start
}

@media screen and (max-width: 350px) {
    .resume__links {
        display: none;
    }
}