.search__header_logo {
    margin: 30px 0px 26px 104px;
    max-width: 200px;
}

@media screen and (max-width: 768px) {
    .search__header_logo {
        margin: 22px 0px 18px 40px;
    }
}
@media screen and (max-width: 320px) {
    .search__header_logo {
        max-width: 117px;
        margin: 16px 0px 16px 16px;
    }
}