@import url('./__button/search-result__button.css');
@import url('./__cards/search-result__cards.css');
@import url('./__item/search-result__item.css');
@import url('./__link/search-result__link.css');
@import url('./__title/search-result__title.css');
@import url('./__two-columns/search-result__two-columns.css');
@import url('./__item-date/search-result__item-date.css');
@import url('./__item-image/search-result__item-image.css');
@import url('./__item-link/search-result__item-link.css');
@import url('./__item-title/search-result__item-title.css');
@import url('./__item-description/search-result__item-description.css');

.search-result {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background: #F5F6F7;
    padding: 80px 104px;
    box-sizing: border-box
}

@media screen and (max-width: 768px) {
    .search-result {
        padding: 40px;
    }
}
@media screen and (max-width: 320px) {
    .search-result {
        padding: 32px 16px 44px;
    }
}