.page {
    /* background: #F5F6F7; */
    background: #F5F6F7;
    margin: 0 auto;
    min-width: 320px;
    max-width: 1440px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}