@import url('./_date/analytics__table-header_date.css');
.analytics__table-header {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr;
    grid-template-rows: 1fr;
    border-bottom: 2px solid black;
    margin: 48px 0 0 0;
}