@import url('./_date/analytics__table-header_date.css');

.analytics__table-header {
    display: grid;
    grid-template-columns: minmax(104px, 104px) 8fr;
    grid-template-rows: 1fr;
    border-bottom: 2px solid black;
    margin: 48px 0 0 0;
}