.search-result__link {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    display: flex;
    align-items: center;
    text-align: center;
    color: #1A1B22;
}

.search-result__link:hover {
    color: #B6BCBF;
    transition: .5s;
}

@media screen and (max-width: 868px) {
    .search-result__link {
        font-size: 18px;
        line-height: 24px;
    }
}