.search-result__item-description {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    max-width: 90%;
    margin: 16px 0 0 24px;
    color: #1A1B22;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (max-width: 868px) {
    .search-result__item-description {
        margin: 10px 0 0 16px;
        font-size: 16px;
        line-height: 22px;

    }
}

@media screen and (max-width: 525px) {
    .search-result__item-description {
        margin: 10px 0 0 16px;
        font-size: 16px;
        line-height: 22px;

    }
}