.search-result__two-columns {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 320px) {
    .search-result__two-columns {
        flex-direction: column;
        align-items: start;
    }
}