.technology__title {
    /* border: 1px solid red; */
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 46px;
    max-width: 344px;
    color: #1A1B22;
    margin: 0;

}

@media screen and (max-width: 350px) {
    .technology__title {
        font-size: 30px;
        line-height: 40px;
    }
}