.footer__column-item {
    display: inline;
    margin-right: 40px;

}

.footer__column-item:last-child {
    margin: 0;
}

@media screen and (max-width: 768px) {
    .footer__column-item {
        margin-right: 24px;

    }
}