.footer__link {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
    margin-right: 40px;
    color: #1A1B22;

}

.footer__link:hover {
    color: #B6BCBF;
    transition: .5s;
}