.analytics__table_score {
    margin: 28px 0;
    padding: 0;
    padding-left: 6px;
    box-sizing: border-box;
    background: #2F71E5;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;

    /* or 133% */

    display: flex;
    align-items: center;
    letter-spacing: 0.4px;
    text-transform: uppercase;

    /* main/white */

    color: #FFFFFF;
}

.analytics__table_score:nth-child(1) {
    width: 184px;
}

.analytics__table_score:nth-child(2) {
    width: 256px;
}

.analytics__table_score:nth-child(3) {
    width: 120px;
}

.analytics__table_score:nth-child(4) {
    width: 424px;
}

.analytics__table_score:nth-child(5) {
    width: 528px;
}

.analytics__table_score:nth-child(6) {
    width: 816px;
}

.analytics__table_score:nth-child(7) {
    width: 368px;
}