@import url("./_date-column/analytics__table-columns_date-column.css");
@import url("./_score-column/analytics__table-columns_score-column.css");

.analytics__table-columns {
  margin: 0;
  display: flex;
  flex-direction: column;
}
