.search__container_button {
    position: absolute;
    outline: none;
    border: 0px solid #D1D2D6;
    background: #2F71E5;
    /* box-shadow: 0px solid rgba(14, 26, 57, 0.2); */
    border-radius: 100px;
    height: 64px;
    width: 168px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height, or 133% */


    /* main/white */

    color: #FFFFFF;
}

.search__container_button:focus {
    background: #2A65CC;
}