@import url('../search/__container/search__container.css');
@import url('../search/__header/search__header.css');
@import url('../search/__subtitle/search__subtitle.css');
@import url('../search/__title/search__title.css');





.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../../images/search_phone.png');
    background-size: cover;
    margin: 0 auto;
    box-sizing: border-box;
}