@import url('./__author/footer__author.css');
@import url('./__column-item/footer__column-item.css');
@import url('./__column-links/footer__column-links.css');
@import url('./__item/footer__item.css');
@import url('./__link/footer__link.css');
@import url('./__links/footer__links.css');

.footer {
    display: flex;
    justify-content: space-between;
    background: #FFFFFF;
    box-sizing: border-box;
    /* padding: 80px 0; */
    margin: 0 auto;
    padding: 0 104px;
    box-sizing: border-box;

}

@media screen and (max-width: 868px) {
    .footer {
        padding: 0 40px;
    }
}

@media screen and (max-width: 690px) {
    .footer {
        flex-wrap: wrap;
        align-items: flex-start;



    }
}

@media screen and (max-width: 350px) {
    .footer {
        flex-wrap: wrap;
        align-items: flex-start;
        padding: 22px 16px;


    }
}