.search-result__cards {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 64px;

}

@media screen and (max-width: 525px) {
    .search-result__cards {
        margin-top: 36px;
    }
}