.history__item_date {
    margin: 24px 0 0 24px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */


    /* simulator/gray/text */

    color: #B6BCBF;
}