@import url('./__button/resume__button.css');
@import url('./__button/_active/resume__button_active.css');
@import url('./__links/resume__links.css');
@import url('./__request/resume__request.css');
@import url('./__results/resume__results.css');

@import url('./__value/resume__value.css');

.resume {
    margin: 0 auto;
    padding: 40px 104px 80px;
    background: #FFFFFF;
    box-sizing: border-box;

}

@media screen and (max-width: 868px) {
    .resume {
        padding: 32px 40px;
    }
}

@media screen and (max-width: 350px) {
    .resume {
        padding: 16px;
    }
}