.search__subtitle {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    max-width: 608px;
    margin: 0 auto;
    margin-top: 32px;

}