.search-result__item {
    max-width: 400px;
    background: #FFFFFF;
    border-radius: 16px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin: 0 0 16px 0;
    box-sizing: border-box;
}

.search-result__item:hover {
    box-shadow: 0px 11px 58px 0px rgba(0, 0, 0, 0.20);
}

.search-result__item:nth-child(3n) {
    margin-right: 0px;
}

@media screen and (max-width: 768px) {
    .search-result__item {
        max-width: 224px;
    }
}

@media screen and (max-width: 320px) {
    .search-result__item {

        margin: 0 auto;
        margin-bottom: 8px;
        max-width: 288px;
    }

    .search-result__item:last-child {
        margin-bottom: 0;
    }
}