.search__header_links {
    margin-right: 104px;
    display: flex;


}

@media screen and (max-width: 768px) {
    .search__header_links {
        margin-right: 39px;
    }
}
@media screen and (max-width: 320px) {
    .search__header_links {
        margin-right: 14px;
    }
}