@import url('./__text/intro__text.css');
@import url('./__title/intro__title.css');

.intro {
    background: #FFFFFF;
    /* border: 1px solid red; */
    padding: 80px 104px 94px;
    box-sizing: border-box;
    margin: 0 auto;
}

@media screen and (max-width: 868px) {
    .intro {
        padding: 30px 40px;
    }
}
@media screen and (max-width: 350px) {
    .intro {
        padding: 16px;
    }
}