@import url('./__item/technology__item.css');
@import url('./__items/technology__items.css');
@import url('./__title/technology__title.css');

.technology {
    display: flex;
    align-items: flex-start;
    padding: 80px 0 94px 104px;
    box-sizing: border-box;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .technology {
        padding: 40px;
        flex-direction: column;
    }
}

@media screen and (max-width: 320px) {
    .technology {
        flex-wrap: wrap;
    }
}